@import "style.scss";

.error-box {
    display: flex;
    flex-direction: column;
    min-height: calc(100svh - 56px);
    .txt-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2.6rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $g-1;
    }
}

.txt-box {
    .txt {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6rem;
    }
    .btn-box {
        width: calc(100% - 2rem);
        button {
            padding: 0 3rem;
            height: 3.25rem;
            font-size: 1rem;
            font-weight: 600;
            border-radius: .5rem;
            background-color: $s-c1;
        }
    }
}

@media (min-width : 600px) and (max-width : 1278px)  {
    .txt-box {
        .btn-box {
            width: 24rem;
        }
    }
}


@media (min-width : 1279px) {
    .error-box {
        max-width: 1280px;
        position: relative;
        background-color: $bg;
        margin: 0 auto;
        .txt-box {
            width: 1280px;
        }
    }

    .txt-box {
        .txt {
            font-size: 1.2rem;
            line-height: 2rem;
        }
        .btn-box {
            width: 24rem;
        }
    }


}